<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="appointment">
            <h2><span jhiTranslate="citmilApp.appointment.detail.title">Appointment</span> {{ appointment.id }}</h2>

            <hr />

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="citmilApp.appointment.name">Name</span></dt>
                <dd>
                    <span>{{ appointment.name }}</span>
                </dd>
                <dt><span jhiTranslate="citmilApp.appointment.comments">Comments</span></dt>
                <dd>
                    <span>{{ appointment.comments }}</span>
                </dd>
                <dt><span jhiTranslate="citmilApp.appointment.email">Email</span></dt>
                <dd>
                    <span>{{ appointment.email }}</span>
                </dd>
                <dt><span jhiTranslate="citmilApp.appointment.phone">Phone</span></dt>
                <dd>
                    <span>{{ appointment.phone }}</span>
                </dd>
                <dt><span jhiTranslate="citmilApp.appointment.dni">Dni</span></dt>
                <dd>
                    <span>{{ appointment.dni }}</span>
                </dd>
                <dt><span jhiTranslate="citmilApp.appointment.start">Start</span></dt>
                <dd>
                    <span>{{ appointment.start }}</span>
                </dd>
                <dt><span jhiTranslate="citmilApp.appointment.end">End</span></dt>
                <dd>
                    <span>{{ appointment.end }}</span>
                </dd>
                <dt><span jhiTranslate="citmilApp.appointment.actived">Actived</span></dt>
                <dd>
                    <span>{{ appointment.actived }}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/appointment', appointment.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
