<h1>Calendario laboral de los trabjadores!</h1>

<full-calendar
    #calendar
    defaultView="dayGridMonth"
    deepChangeDetection="true"
    locale="es"
    [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridIndividualDays,timeGridDay,timeGridWeek,listIndividualDays'
    }"
    [plugins]="calendarPlugins"
    [events]="calendarEvents"
    [firstDay]="1"
    (dateClick)="handleDateClick($event)"
    (eventClick)="handleEventClick($event)"
    [editable]="true"
    [droppable]="true"
    (eventDrop)="drop($event)"
    [bootstrapFontAwesome]="true"
    [dragScroll]="true"
    (eventResize)="eventDragStop($event)"
    [eventDragMinDistance]="30"
    [aspectRatio]="1.5"
></full-calendar>
