<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="timeBandAvailableProfesionalDay">
            <h2><span jhiTranslate="citmilApp.timeBandAvailableProfesionalDay.detail.title">Time Band Available Profesional Day</span> {{ timeBandAvailableProfesionalDay.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="citmilApp.timeBandAvailableProfesionalDay.year">Year</span></dt>
                <dd>
                    <span>{{ timeBandAvailableProfesionalDay.year }}</span>
                </dd>
                <dt><span jhiTranslate="citmilApp.timeBandAvailableProfesionalDay.start">Start</span></dt>
                <dd>
                    <span>{{ timeBandAvailableProfesionalDay.start }}</span>
                </dd>
                <dt><span jhiTranslate="citmilApp.timeBandAvailableProfesionalDay.end">End</span></dt>
                <dd>
                    <span>{{ timeBandAvailableProfesionalDay.end }}</span>
                </dd>
                <dt><span jhiTranslate="citmilApp.timeBandAvailableProfesionalDay.company">Company</span></dt>
                <dd>
                    <div *ngIf="timeBandAvailableProfesionalDay.companyId">
                        <a [routerLink]="['/company', timeBandAvailableProfesionalDay.companyId, 'view']">{{ timeBandAvailableProfesionalDay.companyId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/time-band-available-profesional-day', timeBandAvailableProfesionalDay.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
